.search{
    width: 100%;
    /* height: 2rem; */
    border: 10px solid steelblue;
    padding: 15px;
    margin-bottom: 3rem;
}

.search::placeholder{
    text-align: center;
    font-size: 1.5rem;
}